body {
  width: 320px;
  // пока что не min-width;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0;
  line-height: 0;

  background-color: #ffffff;
}

.visual-hidden {
  display: none;
}
