.catalog-item {
  width: 260px;
  margin-bottom: 30px;
  font-size: 0;
  line-height: 0;

  figure {
    margin: 0;
    font-size: 0;
  }

  img {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

}

.catalog-item__info {
  padding-left: 27px;
  padding-right: 27px;
  border: 1px solid #ececec;
}

.catalog-item__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.catalog-item__description {
  margin-bottom: 21px;
  font-size: 13px;
  line-height: 30px;
}

.catalog-item__order {
  position: relative;
  border-top: 1px solid #ececec;
}

.catalog-item__price {
  width: 150px;
  padding-top: 22px;
  padding-bottom: 26px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.catalog-item__btn {
  position: absolute;
  right: -1px;
  top: 22px;
  width: 21px;
  height: 19px;
  font-size: 0;
  text-indent: -2000px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
}


// a:hover {
//   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
// }
