.page-footer {
  .container();
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f1f1f1;
  text-align: center;
}

.page-footer__copyright {
  padding: 30px 39px;

  a {
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
  }

}

.page-footer__copyright-logo {
  vertical-align: middle;
}
