.parameters-table {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  td{
    padding-top: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid #ececec;
  }
}

.parameters-table__column {

  &--first {
    width: 98px;
  }
  
}
